*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #cccccce6;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #1a258f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.taskList {
  list-style: none;
  padding: 0;
}

.taskItem {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskTitle {
  font-size: 18px;
  font-weight: bold;
}

.markDoneButton {
  margin-left: 10px;
  padding: 5px;
  background-color: #0ab715;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton {
  margin-left: 10px;
  padding: 5px;
  background-color: #ead709;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.details {
  margin-top: 10px;
}

.summary {
  cursor: pointer;
}

.description {
  margin-top: 5px;
  margin-bottom: 5px;
}

.timestamp {
  font-size: 12px;
  color: #666;
}
